
<h1><%= @post.title %></h1><br>
<p><%= @post.content %><p><br><br>

<h4>Comments:</h4>
<ul>
  <%= @post.comments.each do |c| %><br>
    <li><%= "#{c.user_name} says: #{c.content} " %></li>
  <% end %>
</ul>

<h4>Users who've commented:</h4>

<ul>
  <%=@post.commenters.each do |u| %><br>
    <li><%= u %></li>
  <% end %>
</ul>

<h4>New Comment:</h4><br>
<%= form_for @comment do |f| %>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :post_id, value: @post.id %>

  Select User:<br>
  <% binding.pry %>
  <%= f.collection_select :user_id, User.all, :id, :username, {include_blank: "New User"} %><br>
  Create User:<br>
  <%= f.fields_for :user, @comment.build_user do |u| %>
    <%= u.text_field :username %>
  <% end %>
  <%= f.submit "Create Comment" %>
<% end %>
